body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
.contenedor  {
  position: relative;
  width: 1200px;
  height: 100;
  margin: 240px auto;

}
.contenedor .box{
  position: absolute;
  width: 200;
  height: 100;
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
}
.contenedor .box .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 1;
}
.contenedor .box:hover .icon{
  top:20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.contenedor .box .icon .far{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}
.contenedor .box .icon .far{
  font-size: 40px;
}
.contenedor .box .content{
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}
.contenedor .box:hover .content{
  top: 100px;
  opacity: 1;
}
.contenedor .box .content h3{
  margin: 0 0 10px;;
  padding: 0;
  color: #fff;
  font-size: 24px;
}
.contenedor .box .content p{
  margin: 0;
  padding: 0;
  color: #fff;
}

.contenedor .box:nth-child(1) .icon{
  background: #963177;
}
.contenedor .box:nth-child(1){
  background: #af4c9f;
}
.contenedor .box:nth-child(2) .icon{
  background: #183bb8;
}
.contenedor .box:nth-child(2){
  background: #316696;
}
.contenedor .box:nth-child(3) .icon{
  background: #319635;
}
.contenedor .box:nth-child(3){
  background: #000000;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
